@use "../abstracts/variables" as *;
@use "../abstracts/mixins" as *;

#booking-container {
  color: $secondary-70;

  input {
    color: $secondary-50;
    &:focus,
    &:active {
      color: $black;
    }
  }
}

.headline {
  margin: 2.5rem 0 1.875rem; //40px 0 30px
  line-height: 1.688rem; // 27px
}

.booking {
  max-width: 75rem; // 1200px
  width: 100%;
  display: flex;
  gap: 1.875rem; // 30px
  margin-bottom: 2.5rem; // 40px
  @include breakpoint(md) {
    flex-direction: column;
  }
  @include breakpoint(sm) {
    padding: 0;
    margin: 0;
    gap: 1.25rem; // 20px
  }
}

.booking-image {
  max-width: 15.625rem; // 250px
  height: 12.5rem; // 200px
  width: 100%;
  overflow: clip;
  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}

.booking-content {
  width: 100%;
}

.booking-name {
  color: $primary-70;
  margin-bottom: 1.25rem; // 20px
}

.booking-info {
  display: flex;
  flex-direction: column;
  & > div {
    margin-bottom: 0.625rem; // 10px
    line-height: 1.5rem; // 24px
  }
}

.contact > * {
  margin-bottom: 0.625rem;
}
