@use "../abstracts/variables" as *;
@use "../abstracts/mixins" as *;

.headline {
  color: $secondary-70;
  margin-bottom: 1.875rem; // 30px
}

.booking {
  max-width: 75rem; // 1200px
  width: 100%;
  display: flex;
  gap: 1.875rem; //30px
  @include breakpoint(md) {
    flex-direction: column;
  }
  @include breakpoint(sm) {
    padding: 0;
    margin: 0;
    gap: 1.25rem; // 20px
  }
}

.booking-image {
  max-width: 15.625rem; // 250px
  height: 12.5rem; // 200px
  width: 100%;
  overflow: clip;
  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}

.booking-content {
  width: 100%;
}

.booking-title {
  color: $primary-70;
}

.info-item {
  display: flex;
  align-items: center;

  .booking-label {
    margin: 0;
  }
}

.booking-info {
  display: flex;
  flex-direction: column;
}
