@use "../abstracts/variables" as *;
@use "../abstracts/mixins" as *;

#booking-container {
  color: $secondary-70;
  margin-bottom: 2.5rem; // 40px
  @include breakpoint(xl) {
    padding: 0 2.5rem;
  }
}

.headline {
  margin: 2.5rem 0 1.875rem; //40px 0 30px
  line-height: 1.688rem; // 27px
}

.booking {
  max-width: 75rem; // 1200px
  width: 100%;
  display: flex;
  gap: 1.875rem; // 30px
  margin-bottom: 2.5rem; // 40px
  @include breakpoint(md) {
    flex-direction: column;
  }
  @include breakpoint(sm) {
    padding: 0;
    margin: 0;
    gap: 1.25rem; // 20px
  }
}

.booking-image {
  max-width: 15.625rem; // 250px
  height: 12.5rem; // 200px
  width: 100%;
  overflow: clip;
  @include breakpoint(md) {
    max-width: 43.75rem; // 700px
  }
  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}

.booking-content {
  position: relative;
  max-width: 43.75rem; // 700px
  width: 100%;
  margin-bottom: 2.5rem; // 40px
  @include breakpoint(md) {
    margin-bottom: 1.875rem; // 30px
  }
}

.booking-name {
  color: $primary-70;
  margin-bottom: 1.25rem; // 20px
}

.booking-info {
  display: flex;
  flex-direction: column;
  & > div {
    margin-bottom: 0.625rem; // 10px
    line-height: 1.5rem; // 24px
  }
  & > div:nth-child(4) {
    margin-bottom: 1.875rem; // 30px
  }
}

.form-group {
  margin-bottom: 0.938rem; // 15px
}

.contact-title,
.payment-title {
  margin-bottom: 1.25rem; // 20px
}

.contact-form,
.payment-form {
  margin-bottom: 2.5rem; //40px

  input {
    color: $secondary-50;
    border: 1px solid $secondary-20;
    width: 12.5rem; // 200px
    border-radius: 5px;
    font-size: 16px;

    &:focus,
    &:active {
      color: $black;
    }
    &::placeholder {
      line-height: 1.125rem; // 18px
    }
  }

  .expiration-date {
    border: 1px solid $secondary-20;
    border-radius: 5px;
  }
}

.confirm {
  width: 100%;
  display: flex;
  flex-direction: column;
  margin-bottom: 2.5rem;
}

.confirm > * {
  margin: 0 0 1.375rem auto;
}

.book-info {
  display: none;
  &.active {
    display: block;
  }
}

.note {
  line-height: 1.5rem; // 24px
}
