@use "../abstracts/variables" as *;
@use "../abstracts/mixins" as *;

.profile {
  display: flex;
  justify-content: center;
  align-items: center;
  color: $secondary-70;

  h3 {
    margin-bottom: 0.938rem; // 15px
  }
}

.booking-form {
  display: flex;
  flex-direction: column;
}
