@use "../abstracts/variables" as *;

.signin-dialog,
.signup-dialog {
  width: 21.25rem; // 340px
  padding: 1.563rem 0.938rem 0.938rem 0.938rem; // 25px 15px
  text-align: center;
  input {
    padding: 0.938rem; // 15px
    color: $secondary-50;
    &:focus,
    &:active {
      color: $black;
    }
  }

  .submit {
    background-color: $primary-70;
    color: $white;
  }

  input,
  .submit {
    width: 19.375rem; // 310px
    height: 2.938rem; // 47px
    margin-bottom: 0.625rem; // 10px
    border: 1px solid #cccccc;
    border-radius: 0.313rem; // 5px
  }
}

.signin-title,
.signup-title {
  color: $secondary-70;
  margin-bottom: 0.938rem; // 15px
}

dialog {
  margin: 5rem auto 0; //80px
  border: none;
  border-radius: 0.375rem;
  box-shadow: 0 0.25rem 3.75rem #aaaa; // 0px 4px 60px
  &::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 0.625rem; // 10px
    background: $gradient-primary;
  }

  form {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  a {
    text-decoration: none;
    color: $secondary-70;
  }
}

::backdrop {
  background: $black-opacity-25;
}

.error-message {
  color: rgb(203, 68, 74);
  margin-bottom: 0.625rem;
}

.success-message {
  color: rgb(64, 133, 88);
  margin-bottom: 0.625rem;
}
