@use "../abstracts/variables" as *;

footer {
  width: 100%;
  height: 6.5rem;
  background-color: $secondary-50;
  display: flex;
  align-items: center;
  justify-content: center;
  color: $white;
}

.booking-footer {
  align-items: unset;
  padding-top: 2.5rem; // 40px
  height: 100dvh;
}
