* {
  box-sizing: border-box;
}

h1 {
  font-weight: 700;
  font-size: 1.75rem;
  line-height: 1.5rem;
}

h2 {
  font-weight: 700;
  font-size: 1.875rem;
  line-height: 2.125rem;
}

h3 {
  font-size: 1.5rem;
  line-height: 1.5rem;
}

.font-btn {
  font-size: 1.188rem;
}
.font-btn.bold {
  font-weight: 700;
}
.font-btn.regular {
  font-weight: 400;
}

.font-content {
  font-size: 1rem;
}

.font-body {
  font-size: 1rem;
  line-height: 0.831rem;
}

.font-category-list {
  font-weight: 500;
  font-size: 0.875rem;
  font-weight: 500;
}

.bold {
  font-weight: 700;
}

.medium {
  font-weight: 500;
}

.regular {
  font-weight: 400;
}

body {
  font-family: "Noto Sans TC", sans-serif;
  overflow-x: clip;
}

button {
  border: 0;
  background: none;
}

.navigation-btn {
  display: flex;
  justify-content: space-between;
  padding: 0.625rem;
  color: #666666;
  text-wrap: nowrap;
}

.arrow-btn {
  width: 2rem;
  height: 2rem;
  position: absolute;
  top: 0.531rem;
  opacity: 0.5;
}
.arrow-btn:hover {
  opacity: 1;
}

.list-right-container {
  position: relative;
}
.list-right-container .arrow-btn {
  left: 0;
}

.list-left-container {
  position: relative;
}
.list-left-container .arrow-btn {
  right: 0;
}

.close-dialog {
  position: absolute;
  top: 0.625rem;
  right: 0.625rem;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 1.875rem;
  height: 1.875rem;
}
.close-dialog img {
  width: 1rem;
  height: 1rem;
}

.carousel-prev-button,
.carousel-next-button {
  position: absolute;
  top: 50%;
  width: 2.25rem;
  height: 2.25rem;
  padding: 0;
}
.carousel-prev-button img,
.carousel-next-button img {
  opacity: 0.75;
  width: 100%;
  height: 100%;
}
.carousel-prev-button:first-of-type,
.carousel-next-button:first-of-type {
  left: 0.625rem;
}
.carousel-prev-button:last-of-type,
.carousel-next-button:last-of-type {
  right: 0.625rem;
}

.dots {
  position: absolute;
  bottom: 0.625rem;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  justify-content: center;
  opacity: 0.75;
  gap: 0.75rem;
}

.dot {
  width: 0.75rem;
  height: 0.75rem;
  border-radius: 50%;
  background-color: #ffffff;
}

.current-dot {
  background-color: #000000;
  border: 1px solid #ffffff;
}

.search-bar {
  display: flex;
  width: 28.75rem;
  height: 2.875rem;
  border-radius: 5px;
}
@media (max-width: 576px) {
  .search-bar {
    width: 17.813rem;
  }
}
.search-bar form,
.search-bar input,
.search-bar button {
  border: none;
}
.search-bar .search-input {
  display: flex;
  width: 100%;
  height: 100%;
  padding-left: 0.938rem;
  box-shadow: 0px 0px 1.25rem 0px #aabbcc;
  background-color: #ffffff;
  color: #000000;
  border-radius: 5px 0px 0px 5px;
}
.search-bar .search-input:focus {
  color: #000000;
}
@media (max-width: 576px) {
  .search-bar .search-input {
    width: 14.063rem;
  }
}
.search-bar .search-btn {
  border-radius: 0px 5px 5px 0px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 3.75rem;
  height: 100%;
  background-color: #448899;
  cursor: pointer;
}

.list-bar {
  display: flex;
  align-items: center;
  max-width: 75rem;
  width: 100%;
  height: 4.375rem;
  margin-top: 2.5rem;
  padding-bottom: 1.25rem;
}

.list-left-container,
.list-right-container {
  flex: 0 0 2.938rem;
  height: 100%;
  position: relative;
}

.list-middle-container {
  flex: 1;
  width: 100%;
  padding: 0.813rem 0.625rem;
  overflow-x: clip;
}

.list-items {
  display: flex;
  justify-content: flex-start;
  list-style: none;
  overflow-x: auto;
  scroll-behavior: smooth;
  scroll-snap-type: x mandatory;
}
.list-items::-webkit-scrollbar {
  display: none;
}

.list-item {
  padding: 0.313rem 0.938rem;
  color: #666666;
  white-space: nowrap;
  cursor: pointer;
}
.list-item:hover {
  color: #000000;
}

.attractions-container {
  margin: 0 auto 2.5rem;
  padding: 0.938rem;
  max-width: 73.125rem;
  width: 100%;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 1.875rem;
}
@media (max-width: 992px) {
  .attractions-container {
    grid-template-columns: repeat(3, 1fr);
  }
}
@media (max-width: 768px) {
  .attractions-container {
    grid-template-columns: repeat(2, 1fr);
  }
}
@media (max-width: 576px) {
  .attractions-container {
    grid-template-columns: repeat(1, 1fr);
    gap: 0.938rem;
  }
}

.attractions-card {
  width: 100%;
  border: 1px solid #e8e8e8;
  border-radius: 5px;
  overflow: hidden;
}

.card-img {
  width: 100%;
  height: 12.313rem;
  overflow: clip;
  position: relative;
}
.card-img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center center;
}

.card-name {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 2.5rem;
  padding: 0.625rem;
  background-color: rgba(0, 0, 0, 0.6);
  color: #ffffff;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.card-content {
  width: 100%;
  height: 2.813rem;
  padding: 0.625rem;
  display: inline-flex;
  justify-content: space-between;
  align-items: center;
  color: #757575;
}

hr {
  margin: 0 auto;
  line-height: 0;
  width: 100%;
  border: 1px solid #e8e8e8;
}
hr:first-of-type {
  margin-top: 3.375rem;
}
hr:nth-of-type(2) {
  max-width: 1200px;
  width: 100%;
}

.carousel {
  position: relative;
  max-width: 33.75rem;
  min-width: 22.5rem;
  width: 100%;
  height: 25rem;
  border-radius: 5px;
  overflow: hidden;
}
@media (max-width: 768px) {
  .carousel {
    max-width: none;
  }
}
@media (max-width: 576px) {
  .carousel {
    height: 21.875rem;
  }
}

.slide-track {
  display: flex;
  transition: transform 0.5s ease-in-out;
  scroll-behavior: smooth;
  width: 100%;
  height: 100%;
}

.slide,
.slide-track {
  min-width: 100%;
  max-width: 100%;
  width: 100%;
  height: 100%;
}
.slide img,
.slide-track img {
  width: 100%;
  min-width: 100%;
  max-width: 100%;
  height: 100%;
  object-fit: cover;
}

.navigation {
  position: fixed;
  top: 0;
  right: 0;
  width: 100%;
  height: 3.375rem;
  display: flex;
  justify-content: center;
  background-color: #ffffff;
  z-index: 2;
}
@media (max-width: 1200px) {
  .navigation {
    padding: 0 2.5rem;
  }
}
@media (max-width: 576px) {
  .navigation {
    padding: 0rem;
  }
}

.navigation-container {
  max-width: 75rem;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.navigation-brand {
  color: #448899;
  text-decoration: none;
  font-weight: 700;
  font-size: 1.875rem;
  line-height: 2.125rem;
}
@media (max-width: 576px) {
  .navigation-brand {
    margin-left: 0.625rem;
  }
}

.navigation-menu {
  display: flex;
  align-items: flex-start;
}

.navigation-collapse {
  display: flex;
  align-items: center;
}

footer {
  width: 100%;
  height: 6.5rem;
  background-color: #757575;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #ffffff;
}

.signin-dialog,
.signup-dialog {
  width: 21.25rem;
  padding: 1.563rem 0.938rem 0.938rem 0.938rem;
  text-align: center;
}
.signin-dialog input,
.signup-dialog input {
  padding: 0.938rem;
  color: #757575;
}
.signin-dialog .submit,
.signup-dialog .submit {
  background-color: #448899;
  color: #ffffff;
}
.signin-dialog input,
.signin-dialog .submit,
.signup-dialog input,
.signup-dialog .submit {
  width: 19.375rem;
  height: 2.938rem;
  margin-bottom: 0.625rem;
  border: 1px solid #cccccc;
  border-radius: 0.313rem;
}

.signin-title,
.signup-title {
  color: #666666;
  margin-bottom: 0.938rem;
}

.signup-dialog {
  height: 20.75rem;
}

.signin-dialog {
  height: 17.188rem;
}

dialog {
  margin: 5rem auto 0;
  border: none;
  border-radius: 0.375rem;
  box-shadow: 0 0.25rem 3.75rem rgba(170, 170, 170, 0.6666666667);
}
dialog::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 0.625rem;
  background: linear-gradient(#337788, #66aabb);
}
dialog form {
  display: flex;
  flex-direction: column;
  align-items: center;
}
dialog a {
  text-decoration: none;
  color: #666666;
}

::backdrop {
  background: rgba(0, 0, 0, 0.25);
}

.index-container {
  width: 100%;
  padding: 0 2.5rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}
@media (max-width: 576px) {
  .index-container {
    padding: 0 0.938rem;
  }
}

.hero {
  position: relative;
  margin: 0 auto;
  max-width: 120rem;
  width: 100%;
  height: 23.375rem;
  background-image: url("../image/welcome.png"), linear-gradient(#aaddee, #66aabb);
  background-size: 120rem 33.375rem;
  background-position: center 3.375rem;
  background-repeat: no-repeat;
}
@media (max-width: 576px) {
  .hero {
    background-size: 80.188rem 23.375rem;
  }
}

.hero-container {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -40%);
  display: flex;
  flex-direction: column;
  max-width: 75rem;
  width: 100%;
  height: 10.563rem;
  padding: 0.625rem;
  gap: 0.625rem;
}
@media (max-width: 1200px) {
  .hero-container {
    padding: 0 2.5rem;
  }
}
@media (max-width: 576px) {
  .hero-container {
    width: 21.25rem;
    height: 10.563rem;
    padding: 0.625rem;
  }
}

.slogan-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 9.313rem;
  color: #f8f8f8;
}
.slogan-content {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  height: 4.875rem;
}

.slogan-description {
  white-space: nowrap;
}

.slogan-title {
  text-shadow: 0 0 1.875rem #aabbcc;
}

.attraction {
  color: #666666;
  max-width: 75rem;
  width: 100%;
  margin: 2.5rem auto;
  display: flex;
  padding: 0 0.938rem;
  gap: 1.875rem;
}
.attraction .attraction-name,
.attraction .attraction-description {
  margin-bottom: 0.938rem;
}
@media (max-width: 768px) {
  .attraction {
    flex-direction: column;
  }
}
@media (max-width: 576px) {
  .attraction {
    padding: 0;
    margin: 0;
    gap: 1.25rem;
  }
}

.attraction-content {
  max-width: 37.5rem;
  min-width: 20.25rem;
  width: 100%;
  height: 100%;
}
@media (max-width: 768px) {
  .attraction-content {
    padding: 0rem 0.625rem 2.5rem;
    max-width: none;
    width: 100%;
  }
}

.attraction-name {
  line-height: 2.063rem;
}

.attraction-description {
  line-height: 1.375rem;
}

.booking-form {
  display: flex;
  flex-direction: column;
  padding: 1.25rem 0.938rem 2.563rem;
  background-color: #e8e8e8;
  border-radius: 5px;
  gap: 0.313rem;
}
.booking-form > :nth-child(1),
.booking-form > :nth-child(5) {
  line-height: 1.375rem;
}
@media (max-width: 1200px) {
  .booking-form .font-body:nth-child(2) {
    line-height: 1.4;
  }
}
.booking-form input {
  border: none;
}
.booking-form input[type=date] {
  width: 12.063rem;
  height: 2.188rem;
  padding: 0.313rem 0.625rem;
  background-color: #ffffff;
  color: #000000;
}
.booking-form input[type=radio] {
  appearance: none;
  margin: 0 0.25rem 0 0.313rem;
  width: 1.375rem;
  height: 1.375rem;
  border-radius: 50%;
  background-color: #ffffff;
  position: relative;
}
.booking-form input[type=radio]::before {
  content: "";
  position: absolute;
  inset: 0.125rem;
  display: none;
  background-color: #448899;
  border-radius: 50%;
  border: 2px solid #ffffff;
}
.booking-form input[type=radio]:checked::before, .booking-form input[type=radio]:focus::before {
  display: block;
}
.booking-form button {
  width: 9.625rem;
  height: 2.25rem;
  border-radius: 5px;
  background-color: #448899;
  color: #ffffff;
}
.booking-form .submit-button {
  margin-bottom: 0;
}

.radio {
  display: flex;
  align-items: center;
}
.radio label {
  margin-right: 0.5rem;
}

.booking-form > * {
  margin-bottom: 0.938rem;
}

::-webkit-calendar-picker-indicator {
  background: url("/static/src/image/icon/calendar.png") no-repeat center;
  background-size: 1.5rem 1.5rem;
  object-fit: cover;
  width: 1.5rem;
  height: 1.5rem;
}

.info {
  color: #666666;
  max-width: 75rem;
  width: 100%;
  margin: 2.5rem auto 0;
  padding: 0.625rem 0 5rem;
  line-height: 1.448rem;
}
@media (max-width: 1200px) {
  .info {
    padding: 0 0.938rem;
  }
}
@media (max-width: 576px) {
  .info {
    padding: 0.625rem 0 5.875rem 0.625rem;
    margin: 0.625rem 0;
  }
}

.info > * {
  margin-bottom: 1.25rem;
}

.address-label,
.transport-label {
  line-height: 2rem;
}

/*# sourceMappingURL=all.css.map */
