@use "../abstracts/mixins" as *;

.carousel {
  position: relative;
  max-width: 33.75rem; // 540px
  min-width: 22.5rem; // 360px
  width: 100%;
  height: 25rem; // 400px
  border-radius: 5px;
  overflow: hidden;
  @include breakpoint(md) {
    max-width: none;
  }
  @include breakpoint(sm) {
    height: 21.875rem;
  }
}
.slide-track {
  display: flex;
  transition: transform 0.5s ease-in-out;
  scroll-behavior: smooth;
  width: 100%;
  height: 100%;
}

.slide,
.slide-track {
  min-width: 100%;
  max-width: 100%;
  width: 100%;
  height: 100%;
  img {
    width: 100%;
    min-width: 100%;
    max-width: 100%;
    height: 100%;
    object-fit: cover;
  }
}
